alias ec        'echo $CLASSPATH | tr ":" "\n" '
alias el        'echo $LD_LIBRARY_PATH | tr ":" "\n" '
alias ep        'echo $PATH | tr ":" "\n" '
alias la        'ls -ACF'
alias ll        'ls -lF'
alias ls        'ls -CF'
alias m         'less '
alias makeps    'mp -lo -s "\!*" <\!* > "\!*".ps'
alias pd        'pushd \!* ; cd .'
alias po        'popd \!* ; cd .'
alias psg       'ps -ef | head -1; ps -ef | grep \!* | grep -v grep | sort'

