[user]
	name = Douglas Price
	email = dprice@fearless.tech
[alias]
  co    = checkout
  ci    = commit
  ca    = commit --amend
  cm    = commit -m
  lola  = log --graph --abbrev-commit --decorate --date=short --format=format:'%C("#ffff00")%h%C(reset) - %C(cyan)%ad%C(reset) %C("#008800")(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C("#aa55ff")%D%C(reset)' --all
  pop   = stash pop
  dev   = checkout develop
  stg   = checkout staging
  mas   = checkout master
  main  = checkout main
  sin   = push --force-with-lease
  satan = push --force
  clean-branches = "!f() { rm .git/refs/heads/dprice-*; }; f"
[core]
	autocrlf = false
  excludesfile = /Users/doug/.gitignore_global
[push]
	default = upstream
[branch]
	autosetuprebase = always
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[rebase]
  instructionFormat = [%an @ %ar] %s
[color]
	ui = auto
