[user]
	name = Douglas Price
	email = dprice@fearless.tech
[alias]
	stll = log --graph --pretty=oneline --decorate --abbrev-commit
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
